<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="centered-container">
        <h1>OOF</h1>
        <p>Looks like either this account is private or doesn't exist!</p>
        <!--MODIFY IN FLASK TO GO TO THE '/' route-->
        <p><a href="/" style="color: black">Click Me To Go Back!</a></p>
    </div>
</body>
</html>